
.productList{
	background-color: #fff;
	padding: 10px;
}

.toPay{
	font-size: 1.2rem;
	font-weight: 500;
	color: #5cb85c;
	display: flex;
	justify-content: space-between;
}
.totallCheckOut{
	padding-right: 4%;
}

.checkoutBtnContainer{
	padding: 20px 0;
	display: flex;
	justify-content: center;
}
.checkoutBtn{
	width: 70%;
	padding: 20px 0 20px 0;
	cursor: pointer;
}
